@model IS220_WebApplication.Models.ViewModel.CombinedViewModel
<!DOCTYPE html>
<html lang="vi en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @* ------------------------- FAVICON ------------------------- *@
    <link rel="shortcut icon" href="~/favicon.png" type="image/x-icon"/>

    @* ------------------------- TITLE ------------------------- *@
    <title>@ViewData["Title"] - NETGame</title>

    @* ------------------------- CSS LINK ------------------------- *@
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @* <link rel="stylesheet" href="~/IS220_WebApplication.styles.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="~/static/css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.9.0/notyf.min.css">
    @* MAIN *@
    <link rel="stylesheet" href="~/static/css/main.css"/>
    <link rel="stylesheet" href="~/static/css/responsive.css">
    @* jquery *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>
@* PROGRESS BAR (custom scroll-bar) *@
<div class="progress">
    <div class="progress-bar" id="scroll-bar"></div>
</div>

@* ------------------------ start HEADER ------------------------ *@
<header class="header">
    <nav class="nav container">
        <!-- LOGO -->
        <a asp-controller="Home" asp-action="Index" class="logo">NET<span>Game</span></a>

        <!-- NAV ICON -->
        <div class="nav-content">
            <!-- MENU -->
            <div class="menu">
                <div class="navbarr">
                    <a href="/#home">HOME</a>
                    <a href="/#trending">HOT GAMES</a>
                    <a href="/#new">NEW GAMES</a>
                    <a href="/#console">CONSOLE GAMES</a>
                    <a href="/#contact">CONTACT</a>
                </div>
            </div>

            @* SEARCH BAR *@
            <form class="input-group search-form" asp-controller="search" asp-action="index" method="get">
                <input type="search" id="form1" class="form-control" placeholder="Search games here..." name="search"/>
                <button type="submit">
                    <i class="bx bx-search-alt-2"></i>
                </button>
            </form>

            @* ICON FOR USER *@
            <a class="bx bx-shopping-bag position-relative cart-button" data-bs-toggle="offcanvas"
               data-bs-target="#cartOffcanvas">
                <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger visually-hidden"
                    style="font-size: 0.8rem;">
                    <span class="text-white cart-quantity"></span>
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            <i class="bx bx-user user-icon"></i>
        </div>

        <div class="user-setting text-start">
            <a asp-controller="profile" asp-action="index">Profile</a>
            <a asp-controller="storage" asp-action="index">Storage</a>
            <a asp-controller="account" asp-action="logout">Log Out</a>
        </div>
    </nav>
    @* Offcanvas View *@
    <div class="offcanvas offcanvas-end text-bg-dark" data-bs-scroll="true" tabindex="-1" id="cartOffcanvas">
        <div class="offcanvas-header bg-dark">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Cart</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body cart-body bg-dark"></div>
        <div class="offcanvas-footer offcanvas-header justify-content-center bg-dark">
            <a href="/checkout" class="btn btn-primary">Checkout</a>
        </div>
    </div>
</header>

@* ------------------------- start MAIN (change in Views/Home/Index.cshtml) ------------------------- *@
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>
@* ------------------------- end MAIN ------------------------- *@

@* ------------------------- start FOOTER ------------------------- *@
<footer class="footer container" id="contact">
    <div class="footer_box">
        <div class="footer_box_item">
            <h3 class="item_title">NET<span>Game</span></h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, libero ab dolore, doloribus ipsa
                nihil
                quaerat unde et accusantium ullam adipisci beatae sequi tempore cupiditate!
            </p>

            <div class="contact">
                <div class="contact-box">
                    <i class='bx bx-map'></i>
                    <a href="https://maps.app.goo.gl/zVpeZQRVPwacvRF58">
                        Han Thuyen Street, Thu Duc City, Ho Chi Minh
                        City, Vietnam
                    </a>
                </div>

                <div class="contact-box">
                    <i class='bx bx-phone'></i>
                    <a href="tel:+0123456789">0123456789</a>
                </div>

                <div class="contact-box">
                    <i class='bx bx-envelope'></i>
                    <a href="mailto:netgame@mail.com">netgame@mail.com</a>
                </div>
            </div>
        </div>

        <div class="footer_box_item">
            <h3 class="text-capitalize">About Us</h3>
            <div class="d-flex flex-column">
                <a class="text-capitalize mt-3" href="#!">Home</a>
                <a class="text-capitalize mt-3" href="#!">Introduction</a>
                <a class="text-capitalize mt-3" href="#!">Buy Games</a>
                <a class="text-capitalize mt-3" href="#!">Contact</a>
            </div>
        </div>

        <div class="footer_box_item">
            <h3 class="text-capitalize">chăm sóc khách hàng</h3>
            <div class="d-flex flex-column">
                <a class="text-capitalize mt-3" href="#!">Home</a>
                <a class="text-capitalize mt-3" href="#!">Introduction</a>
                <a class="text-capitalize mt-3" href="#!">Buy Games</a>
                <a class="text-capitalize mt-3" href="#!">Contact</a>
            </div>
        </div>

        <div class="footer_box_item">
            <h3 class="text-capitalize">Follow us:</h3>
            <div class="contact-icon">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-youtube'></i>
            </div>
        </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="footer_copyright">
        <p>&#169; 2023 NETGame. All right reserved.</p>
    </div>
</footer>
@* ------------------------- end FOOTER ------------------------- *@

@* ------------------------- SCRIPT ------------------------- *@
@* bootstrap *@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@* swiperJS (slide animation) *@
<script src="~/lib/swiperJS/swiper-bundle.min.js"></script>
@* MAIN *@
<script src="~/static/js/main.js"></script>
<script src="~/static/js/loginLayout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3.9.0/notyf.min.js"></script>

<script asp-append-version="true"></script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>