@{
    ViewData["Title"] = "User Transaction";
}
<link rel="stylesheet" href="~/static/css/userStorage.css">

<div class="container flex-grow-1 my-4">
    <div class="opt card overflow-hidden">
        <div class="row no-gutters">
            <div class="col-2">
                <div class="list-group list-group-flush account-settings-links rounded">
                    <a class="list-group-item list-group-item-action active py-3" data-toggle="list"
                       href="javascript:void(0)">
                        Lịch sử đơn hàng
                    </a>
                    <a class="list-group-item list-group-item-action py-3" data-toggle="list" href="javascript:void(0)">
                        Lịch sử giao dịch
                    </a>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-order">
                        <table class="table align-middle table-dark table-hover table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="py-3">Thời gian</th>
                                <th scope="col" class="py-3">Mã đơn hàng</th>
                                <th scope="col" class="py-3">Sản phẩm</th>
                                <th scope="col" class="py-3">Số lượng</th>
                                <th scope="col" class="py-3">Tổng tiền</th>
                                <th scope="col" class="py-3">Trạng thái</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="py-2">21/11/2023 12:00:00</td>
                                <td class="py-2">1212121</td>
                                <td class="py-2">
                                    <a asp-controller="" asp-action="">God of War</a>
                                </td >
                                <td class="text-center py-2">1</td>
                                <td class="py-2">100.000đ</td>
                                <td class="text-success py-2">Đã thanh toán</td>
                            </tr>
                            <tr>
                                <td class="py-2">21/11/2023 12:00:00</td>
                                <td class="py-2">1212121</td>
                                <td class="py-2">
                                    <a asp-controller="" asp-action="">God of War aasfsafasdfsadfsdafsaf5</a>
                                </td>
                                <td class="text-center py-2">1</td>
                                <td class="py-2">100.000đ</td>
                                <td class="text-danger py-2">Chưa thanh toán</td>
                            </tr>
                            <tr>
                                <td class="py-2">21/11/2023 12:00:00</td>
                                <td class="py-2">1212121</td>
                                <td class="py-2">
                                    <a asp-controller="" asp-action="">God of asdfasdfafdsaasdWar 5</a>
                                </td>
                                <td class="text-center py-2">1</td>
                                <td class="py-2">100.000đ</td>
                                <td class="text-success py-2">Đã thanh toán</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="account-transaction">
                        <table class="table align-middle table-dark table-hover table-striped">
                            <thead>
                            <tr class="">
                                <th scope="col" class="py-3">Thời gian</th>
                                <th scope="col" class="py-3">Mô tả</th>
                                <th scope="col" class="py-3">Số tiền</th>
                                <th scope="col" class="py-3">Số dư</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="py-2">21/11/2023 12:00:00</td>
                                <td class="py-2">Nạp NETCoin qua Momo Payment. Mã giao dịch: </td>
                                <td class="text-success py-2">+100.000đ</td>
                                <td class="py-2">100.000đ</td>
                            </tr>
                            <tr>
                                <td class="py-2">21/11/2023 12:00:00</td>
                                <td class="py-2">Số ID đơn hàng: #121212122</td>
                                <td class="text-danger py-2">-100.000đ</td>
                                <td class="py-2">0đ</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/static/js/userStorage.js"></script>