@model Category
@{
    Layout = "_BlankLayout";
}

<div class="card card-horizontal card-default card-md mb-4">
    <div class="card-header">
        <h6>Category</h6>
    </div>
    <div class="card-body py-md-30">
        <div class="horizontal-form">
            <form method="post" asp-area="admin" asp-controller="category" asp-action="edit">
                @Html.AntiForgeryToken()
                <div class="form-group row mb-25">
                    <div class="col-sm-1 d-flex aling-items-center">
                        <label for="inputName" class=" col-form-label color-dark fs-14 fw-500 align-center">Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Name" type="text" class="form-control ih-medium ip-gray radius-xs b-light px-15" id="inputName" style="width: 300px;" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="layout-button mt-3">
                            <button type="submit" class="btn btn-primary btn-default btn-squared px-30">save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>