@{
    ViewData["Title"] = "Home Page";
}

<!-------------start HOME SECTION (slider) --------------->
<section class="home" id="home">
    <img src="~/static/img/home.png" alt=""/>

    <div class="home_text">
        <h1>
            CITY OF THE <br/>
            FUTURE
        </h1>
        <a href="#!" class="home-btn">Tải ngay</a>
    </div>
</section>
<!-------------end HOME SECTION --------------->

<!-------------start GAMES HOT SECTIOIN --------------->
<section class="trending" id="trending">
    <!-- HEADING -->
    <div class="heading">
        <i class="bx bxs-flame"></i>
        <h2>GAMES HOT</h2>
    </div>

    <!-- CONTENT -->
    <div class="trending_content swiper">
        <div class="swiper-wrapper">
            <!-- SLIDE 1 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending1.webp" alt=""/>
                    <div class="box_text">
                        <a class="" asp-controller="download" 
                        asp-action="index">Cyberpunk 
                        2077</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>

                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 2 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending2.jpg" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">Battlefield 2042</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 3 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending3.jpg" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">Assassin's Creed</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 4 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending4.jpg" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">Ghost of Tsushima</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 5 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending5.png" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">GTA V</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 6 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending6.jpg" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">Dying Light 2</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 7 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending7.png" alt=""/>
                    <div class="box_text">
                        <a asp-controller="" asp-action="">Halo Infinite</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SLIDE 8 -->
            <div class="swiper-slide">
                <div class="box">
                    <img src="~/static/img/trending8.png" alt=""/>
                    <div class="box_text">
                        <a  asp-controller="" asp-action="">Resident Evil Village</a>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div>
                            <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                                <p>100.000đ</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------end GAMES HOT SECTIOIN --------------->

<!-------------start GAMES MOI SECTION --------------->
<section class="category" id="new">
    <div class="heading">
        <i class="bx bx-game"></i>
        <h2>GAMES MỚI</h2>
    </div>

    <!-- Content -->
    <div class="category-content">
        <!-- Box 1 -->
        <div class="box">
            <img src="~/static/img/new1.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Subway Surfers</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 2 -->
        <div class="box">
            <img src="~/static/img/new2.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Call of Duty</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 3 -->
        <div class="box">
            <img src="~/static/img/new3.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Free Guy</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>
                    <a class="box-btn" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 4 -->
        <div class="box">
            <img src="~/static/img/new4.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Clash Royale</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>
                    <a class="box-btn" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 5 -->
        <div class="box">
            <img src="~/static/img/new5.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Minecraft</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 6 -->
        <div class="box">
            <img src="~/static/img/new6.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">PUBG</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 7 -->
        <div class="box">
            <img src="~/static/img/new7.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Fornite</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 8 -->
        <div class="box">
            <img src="~/static/img/new8.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Marvel of Champions</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="more-btn">
        <button>
            <a asp-controller="newgame" asp-action="index">Xem thêm</a>
        </button>
    </div>
</section>
<!-------------end GAMES MOI SECTION --------------->

<!-------------start GAMES VIET HOA SECTION --------------->
<section class="category" id="viethoa">
    <div class="heading">
        <i class="bx bx-game"></i>
        <h2>GAMES VIỆT HÓA</h2>
    </div>

    <!-- Content -->
    <div class="category-content">
        <!-- Box 1 -->
        <div class="box">
            <img src="~/static/img/new1.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Subway Surfers</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>
                    @* ------- FIX ------- *@

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 2 -->
        <div class="box">
            <img src="~/static/img/new2.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Call of Duty</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 3 -->
        <div class="box">
            <img src="~/static/img/new3.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Free Guy</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 4 -->
        <div class="box">
            <img src="~/static/img/new4.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Clash Royale</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 5 -->
        <div class="box">
            <img src="~/static/img/new5.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Minecraft</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 6 -->
        <div class="box">
            <img src="~/static/img/new6.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">PUBG</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 7 -->
        <div class="box">
            <img src="~/static/img/new7.png" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Fornite</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Box 8 -->
        <div class="box">
            <img src="~/static/img/new8.jpg" alt=""/>
            <div class="box_text">
                <a asp-controller="" asp-action="">Marvel of Champions</a>
                <h3>Action</h3>
                <div class="rating-download">
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <span>4.7</span>
                    </div>

                    <a class="box-btn" asp-area="" asp-controller="download" asp-action="index">
                        <p>100.000đ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="more-btn">
        <button>
            <a asp-area="" asp-controller="viethoagame" asp-action="index">Xem thêm</a>
        </button>
    </div>
</section>
<!-------------end GAMES VIET HOA SECTION --------------->

