/*------------------------- Making Responsive -------------------------*/
@media (max-width: 1080px) {
    .container {
        margin: 0 auto;
        max-width: 90%;
    }

    .nav {
        padding: 10px 0;
    }
    
    /*.menu-icon {*/
    /*    display: flex;*/
    /*}*/

    .notification {
        right: 4rem;
    }

    section {
        padding: 3rem 0 2rem;
    }

    .home {
        min-height: 440px;
        margin-top: 4rem !important;
    }

    .home img {
        border-radius: 1rem;
    }

    .new-content {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .footer_box .item_title {
        font-size: 1rem;
    }

    .footer_box_item h3 {
        font-size: 1rem;
    }

    .contact-icon {
        flex-direction: column;
    }

    .contact-icon .bx {
        margin-top: 8px;
    }
    .buy-now{
        margin-left: 10px;
    }
}

@media (max-width: 774px) {
    .menu-icon {
        display: flex;
    }
    
    .notification {
        right: 1rem;
    }

    .home {
        min-height: 300px;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .btn {
        background: var(--main-color);
        padding: 12px 17px;
    }

    .screenshots-content {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 14, 0.9);
        z-index: 106;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all .5s ease;
        clip-path: circle(0% at 100% 0%);
    }

    .menu.active {
        clip-path: circle(144% at 100% 0%);
    }

    .menu .navbarr {
        display: grid;
        row-gap: 1rem;
        text-align: right;
        padding-right: 2rem;
    }

    .menu .navbarr a {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--text-color);
        transition: 0.2s;
    }

    .menu .navbarr a:hover {
        border-bottom: 4px solid var(--main-color);
        font-size: 1.8rem;
    }
    
    .nav-content {
        flex: 0;
    }
    .buy-now{
        margin-left: 10px;
    }
}

@media (max-width: 560px) {
    .menu img {
        display: none;
    }

    .menu {
        justify-content: flex-end;
    }

    .nav {
        padding: 8px 0;
    }

    .nav-icons .bx,
    .menu-icon {
        height: 40px;
        width: 40px;
    }

    .home {
        min-height: 240px;
    }

    .home-text {
        padding-right: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .download-links {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    .logo {
        font-size: 1.2rem;
    }

    .navbar a {
        font-size: 1.3rem;
    }

    .navbar a:hover {
        font-size: 1.4rem;
    }

    .notification {
        width: 270px;
    }

    .home {
        min-height: 214px;
    }

    .home-text h1 {
        font-size: 1.4px;
    }

    .heading .bx {
        padding: 8px;
    }

    .heading h2 {
        font-size: 1.1rem;
    }

    .box {
        height: 420px;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .copyright .logo {
        margin: 0;
    }

    .about h2,
    .screenshots h2 {
        font-size: 1.2rem;
    }
}