* {
    transition: all .2s linear;
}

.ui-w-80 {
    width: 100px !important;
    height: auto;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

.card {
    background-color: transparent;
}
.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}