@{
    ViewData["Title"] = "Download Page";
}

<link rel="stylesheet" href="~/static/css/downloadPage.css">

<h4 class="fs-4 mb-4 ps-3">God of Wars</h4>

<!-------------start SCREENSHOT --------------->
<div class="screenshots container">

    <div class="screenshots-content">
        <img src="~/static/img/screenshots1.jpg" alt="">
        <img src="~/static/img/screenshots2.jpg" alt="">
        <img src="~/static/img/screenshots3.jpg" alt="">
        <img src="~/static/img/trending6.jpg" alt="">
        <img src="~/static/img/trending7.png" alt="">
        <img src="~/static/img/trending8.png" alt="">
    </div>
</div>
<!-------------end SCREENSHOT --------------->

<!-------------start ABOUT --------------->
<div class="about container">
    <h2>About this game</h2>
    <div class="d-flex">
        <div class="about-info">
            <p>
                Incididunt reprehenderit ad nisi nostrud fugiat excepteur aute mollit.
                Reprehenderit sunt veniam cillum magna cillum sunt. Proident minim
                aliqua cillum nostrud consequat irure consequat nulla aute qui
                incididunt nulla reprehenderit sint proident. Aliquip quis eu et nisi
                tempor Lorem ipsum voluptate irure exercitation aute velit adipisicing
                excepteur. Consequat tempor culpa cillum et.
            </p>
        </div>

        <table class="about-table table text-light table-dark table-striped align-middle">
            <tbody>
            <tr>
                <td class="py-3">Release Date</td>
                <td class="py-3">12 Jan, 2003</td>
            </tr>
            <tr>
                <td class="py-3">Developer:</td>
                <td class="py-3">Dao Tien Dat</td>
            </tr>
            <tr>
                <td class="py-3">Publisher:</td>
                <td class="py-3">PlayStation PC LLC</td>
            </tr>
            <tr>
                <td class="py-3">Category:</td>
                <td class="py-3">Action, Single Player, Pixel, Indie, Adventure, Rich Story</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-------------end ABOUT --------------->

<!-------------start DOWNLOAD LINK --------------->
<div class="download">
    <a download="deTenGameVaoDay" href="deLinkDownloadGameVao" class="download-links"></a>
</div>
<!-------------end DOWNLOAD LINK --------------->