@{
    ViewData["Title"] = "NewGamePage";
}

<head>
    <link rel="stylesheet" href="~/static/css/newGamePage.css">
</head>

<!-------------start GAMES MOI SECTION --------------->
<section class="category" id="new">
    <div class="heading">
        <i class="bx bx-game"></i>
        <h2>GAMES MỚI</h2>
    </div>

    <!-- Content -->
    <div class="category-content">
        @* dùng js để load giao diện dự theo data  *@
    </div>
    
    <!-- PAGINATION -->
    <div class="pagination">
        @* dung js de load  *@
    </div>
</section>
<!-------------end GAMES MOI SECTION --------------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/static/js/paginationHandle.js"></script>