@{
    ViewData["Title"] = "User Profile";
}

<head>
    <link rel="stylesheet" href="~/static/css/userProfile.css">
</head>

<div class="container flex-grow-1 my-4">
    <div class="opt card overflow-hidden">
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="list-group list-group-flush account-settings-links rounded">
                    <a class="list-group-item list-group-item-action active fs-5 py-3" data-toggle="list"
                       href="#account-general">
                        User information
                    </a>
                    <a class="list-group-item list-group-item-action fs-5 py-3" data-toggle="list"
                       href="#account-change-password">
                        Change password
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-general">
                        <div class="card-body media align-items-center">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/019/896/008/small_2x/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png" alt
                                 class="d-block ui-w-80">
                            <div class="media-body ml-4 mt-3">
                                <label class="btn btn-outline-primary">
                                    Upload avatar
                                    <input type="file" class="account-settings-fileinput">
                                </label>
                            </div>
                        </div>

                        <hr class="border-light m-0">

                        <div class="card-body">
                            <div class="form-group mt-2">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control mb-1" value="test">
                            </div>
                            <div class="d-flex mt-4">
                                <div class="form-group w-50 me-1">
                                    <label class="form-label">First name</label>
                                    <input type="text" class="form-control" value="test">
                                </div>
                                <div class="form-group w-50 ms-1">
                                    <label class="form-label">Last name</label>
                                    <input type="text" class="form-control" value="test">
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <label class="form-label">E-mail</label>
                                <input type="email" class="form-control mb-1" value="nmaxwell@mail.com">
                            </div>
                        </div>

                        <hr class="border-light m-0">

                        <div class="card-body pb-2">
                            <div class="form-group">
                                <label class="form-label">Bio</label>
                                <textarea class="form-control"
                                                                rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                            </div>
                            <div class="form-group mt-4">
                                <label class="form-label">Birth</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="form-group mt-4">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" value="+841234567891">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-change-password">
                        <div class="card-body pb-2">
                            <div class="form-group">
                                <label class="form-label">Current password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group mt-4">
                                <label class="form-label">New password</label>
                                <input type="password" class="form-control">
                            </div>
                            <div class="form-group mt-4">
                                <label class="form-label">Confirm new password</label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end mt-3">
            <button type="button" class="btn btn-primary">SAVE</button>
            <button type="button" class="btn btn-secondary me-3">CANCEL</button>
        </div>
    </div>

</div>

<script src="~/static/js/userProfile.js"></script>