@{
    ViewData["Title"] = "DownloadPage";
}

<head>
    <link rel="stylesheet" href="~/static/css/downloadPage.css">
</head>

<!-------------start VIDEO TRAILER --------------->
<div class="video-container container">
    <video src="~/static/download-file/Subway Surfers Official.mp4" muted autoplay></video>
</div>
<!-------------end VIDEO TRAILER --------------->

<!-------------start ABOUT --------------->
<div class="about container">
    <h2>Thông tin về game</h2>
    <p>
        Incididunt reprehenderit ad nisi nostrud fugiat excepteur aute mollit.
        Reprehenderit sunt veniam cillum magna cillum sunt. Proident minim
        aliqua cillum nostrud consequat irure consequat nulla aute qui
        incididunt nulla reprehenderit sint proident. Aliquip quis eu et nisi
        tempor Lorem ipsum voluptate irure exercitation aute velit adipisicing
        excepteur. Consequat tempor culpa cillum et.
    </p>
</div>
<!-------------end ABOUT --------------->

<!-------------start SCREENSHOT --------------->
<div class="screenshots container">
    <h2>Ảnh chụp trong game</h2>
    <div class="screenshots-content">
        <img src="~/static/img/screenshots1.jpg" alt="">
        <img src="~/static/img/screenshots2.jpg" alt="">
        <img src="~/static/img/screenshots3.jpg" alt="">
    </div>
</div>
<!-------------end SCREENSHOT --------------->

<!-------------start DOWNLOAD LINK --------------->
<div class="download">
    <a download="deTenGameVaoDay" href="deLinkDownloadGameVao" class="download-links">Download Link (Windows ONLY)</a>
</div>
<!-------------end DOWNLOAD LINK --------------->